<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac9068">  <td>21/10/15 19:54:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutExample.method2()[pri:0, instance:selenium.TimeoutExample@366647c2]">method2</td> 
  <td>main@1055096410</td>   <td></td> </tr>
<tr bgcolor="ac9068">  <td>21/10/15 19:54:53</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutExample.method3()[pri:0, instance:selenium.TimeoutExample@366647c2]">method3</td> 
  <td>main@1055096410</td>   <td></td> </tr>
<tr bgcolor="ac9068">  <td>21/10/15 19:54:50</td>   <td>-3094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TimeoutExample.method1()[pri:0, instance:selenium.TimeoutExample@366647c2]">method1</td> 
  <td>main@1055096410</td>   <td></td> </tr>
</table>
